<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Este es un titulo
    </mat-panel-title>
  </mat-expansion-panel-header>
  <eor-material-button></eor-material-button>

</mat-expansion-panel>
<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Campos de texto (Inputs)
    </mat-panel-title>
  </mat-expansion-panel-header>

  <eor-material-input></eor-material-input>

</mat-expansion-panel>
<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Listas
    </mat-panel-title>
  </mat-expansion-panel-header>

  <eor-material-list></eor-material-list>

</mat-expansion-panel>